<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height">
    <link rel="icon" type="image/png" href="/static/favicon.png">
    <link href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Crimson+Text:600,600italic|Open+Sans:600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/layout/main.css" type="text/css">
    <!--[if lt IE 9]>
      <script src="/static/html5shiv.js"></script>
    <![endif]-->
    <title>$title$</title>

    <!-- Google Analytics -->
    <script type="text/javascript">
      _gaq = [];
      _gaq.push(["_setAccount", "UA-34266410-2"]);
      _gaq.push(["_trackPageview"]);
    </script>

    <script async="async" src="http://www.google-analytics.com/ga.js"></script>
    <!-- End of Google Analytics -->
  </head>

  <body>
    <header>
      <h1 id="banner"><a href="/index.html">Marek Sapota’s website</a></h1>
      <nav>
        <a href="/index.html">Home</a><!--
        --><a href="/software.html">Software</a><!--
        --><a href="http://kb.marek.sapota.org">Knowledge base</a><!--
        --><a href="http://blog.marek.sapota.org/index.html">Blog</a>
      </nav>
    </header>

    <article>
      $body$
    </article>

    <footer>
      <hr>
      Copyright © 2010, 2011, 2012 Marek Sapota<br/>
      Except where otherwise noted, all content on this website is licensed
      under the<br/>
      <a href="http://creativecommons.org/licenses/by-sa/3.0/">
      Creative Commons Attribution‐ShareAlike 3.0 Unported License</a>.
    </footer>
  </body>
</html>
