@mixin transition($property, $duration) {
    -moz-transition-property: $property;
    -webkit-transition-property: $property;
    -o-transition-property: $property;
    transition-property: $property;

    -moz-transition-duration: $duration;
    -webkit-transition-duration: $duration;
    -o-transition-duration: $duration;
    transition-duration: $duration;
}

@mixin gradient-background($gradient) {
    background: -moz-linear-gradient($gradient);
    background: -webkit-linear-gradient($gradient);
    background: -o-linear-gradient($gradient);
    background: linear-gradient($gradient);
}

h1, h2, h3, h4, h5 {
    font-family: Crimson Text, serif;
    font-weight: 600;
    margin: 0.5em 0;
}

h1 {
    font-size: 1.8em;
}
h2 {
    font-size: 1.7em;
}
h3 {
    font-size: 1.6em;
}
h4 {
    font-size: 1.5em;
}
h5 {
    font-size: 1.4em;
}

body {
    font-family: Droid Sans, sans-serif;
}

footer {
    clear: both;
    font-size: 0.8em;
    margin-top: 1em;
}

#banner {
    font-family: Crimson Text, serif;
    font-weight: 600;
    font-style: italic;
    margin: 0.3em 0;

    a {
        text-decoration: none;
        color: black;
    }
}

/* Big screens - desktops, laptops, etc. */
@media (min-width: 50em) {
    html {
        overflow-y: scroll;
    }

    body {
        margin: 0.5em auto;
        width: 50em;
    }

    #banner {
        font-size: 3em;
    }

    nav {
        background-color: black;
        border-radius: 0.5em;
        padding: 1em 0;
        font-family: Open Sans, sans-serif;
        font-weight: 600;

        a {
            color: white;
            text-decoration: none;
            padding: 1em;
            @include gradient-background((top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)));
            background-color: black;
            @include transition(background-color, 0.5s);

            &:first-child {
                border-radius: 0.5em 0 0 0.5em;
            }

            &:hover {
                background-color: white;
            }

            &.active {
                @include gradient-background((top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.6)));
                color: black;
            }
        }
    }
}

/* Small screens - phones, etc. */
@media (max-width: 50em) {
    #banner {
        font-size: 2.5em;
    }

    nav {
        font-family: Open Sans, sans-serif;
        font-weight: 600;

        a {
            display: block;
            padding: 0.5em 0;
            @include gradient-background((top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.5)));
            background-color: black;
            @include transition(background-color, 0.5s);
            text-align: center;
            color: white;
            text-decoration: none;
            border-bottom: 0.2em solid black;

            &:first-child {
                border-top-left-radius: 0.5em;
                border-top-right-radius: 0.5em;
            }

            &:last-child {
                border-bottom-left-radius: 0.5em;
                border-bottom-right-radius: 0.5em;
                border-bottom: none;
            }

            &:hover {
                background-color: rgba(0, 0, 0, 0.8);
            }

            &.active {
                background-color: rgba(0, 0, 0, 0.8);
            }
        }
    }
}
