<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height">
    <link rel="icon" type="image/png" href="/static/favicon.png">
    <link rel="stylesheet" href="/layout/main.css" type="text/css">
    <!--[if lt IE 9]>
      <script src="/static/html5shiv.js"></script>
    <![endif]-->
    <title>$title$</title>
  </head>

  <body>
    <header>
      <h1 id="banner"><a href="/index.html">Marek Sapota’s website</a></h1>
      <nav>
        <a href="/index.html">Home</a><!--
        --><a href="/software.html">Software</a><!--
        --><a href="http://kb.marek.sapota.org">Knowledge base</a><!--
        --><a href="http://blog.marek.sapota.org">Blog</a>
      </nav>
    </header>

    <article>
      $body$
    </article>

    <footer>
      <hr>
      Copyright © 2010, 2011, 2012 Marek Sapota<br/>
      Except where otherwise noted, all content on this website is licensed
      under the<br/>
      <a href="http://creativecommons.org/licenses/by-sa/3.0/">
      Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.
    </footer>
  </body>
</html>
